/*  style all the things -- try to make them decent looking :)  */
body {
	height:100%;
	width:100%;
	padding: 0px 0px;
	background-color: darkcyan;
	font-family:'RaleWay',sans-serif;
	text-align: center;
	display: block;
}


h1 {
	height: 0px;
	width: 1100px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
	
	background-repeat:no-repeat;
	display:inline-block;
}
#btnSubmitSearch {
	height: 40px;

	border-radius: 30px;
	background-color: #ccc;
	font-family:'RaleWay',sans-serif;
	font-weight:400;
	font-size: 18px;
	color: black;	
	
}
#userImg{
	display:inline-flex;
	border: 0px;
	border-color:darkcyan
}

#infoSection {
	border: 0px;
	background-color: darkcyan;
	text-align: center;
	font-weight:800;
	font-size: 18px;
	

    
}
.displayNoBorder {
	border: 0px;
	background-color: darkcyan;
	font-family:'RaleWay',sans-serif;
	font-weight:800;
	font-size: 18px;
	text-align: center;
}